ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li.nav_bar_li_float_right {
    float: right;
}
li.nav_bar_li {
    float: left;
}

li.nav_bar_li a.nav_bar_item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav_bar_li a.nav_bar_item:hover {
    background-color: #111111;
}
.active {
    background-color: #4CAF50;
}
.body-row {
    display: flex;
    flex-wrap: wrap;
}
.body-col {
    flex: 50%;
}
@media screen and (max-width: 600px) {
    .body-row {
      flex-direction: column;
    }
}
.title {
    font-family: 'Fira Code';
    text-align: center;
    color: gray;
}

.body {
    font-family: 'Operator Mono SSm Lig';
}
.info_list {
    text-align: left;
    list-style-type: none;
}
.manual {
    text-align: left;
}
.story {
    margin-left: 40px;
}